// config.json.example
{
  "DEFAULT": {
    "SECRET_KEY": "...",
    "ADMIN_NAME": "...",
    "AWS_DEFAULT_REGION": "...",
    "MAX_IMAGE_SIZE": 5242880
  },
  "SOURCE": {
    "HOST": "...",
    "DATABASE": "...",
    "USER": "...",
    "PASSWORD": "...",
    "PORT": "3306",
  },
  "DESTINATION": {
    "HOST": "...",
    "DATABASE": "...",
    "USER": "...",
    "PASSWORD": "...",
    "PORT": "3306",
  },
  "TEST": {
    "TEST_TMP_DIR": "tests",
    "TEST_TIMEOUT": 20
  },
  "CI": {
    "SERVICE": "travis-ci",
    "HOOK_URL": "..."
  }
}